[Desktop Entry]
Version=1.0
Type=Application
Name=Boot Options
GenericName=GRUB Boot Manager
Comment=Change which operating system starts and how the boot menu behaves
Exec=/opt/grub-manager/grub-manager-launch
Icon=preferences-system
Terminal=false
Categories=System;Settings;
Keywords=boot;grub;startup;os;default;
StartupNotify=true
